<a href="https://colab.research.google.com/github/AlexanderMoore2409/1310Codesumu/blob/main/Repaso_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Slicing (rebanando)
Es posible seleccionar elementos de una lista (str) por medio de la sintaxis
[<inicio>: <tope>: <incremento>]
por defecto: 
Inicio=0
tope= tamaño de la lista(str)
incremento = 1

In [ ]:
nombre = "Facultad de estudios Superiores Aragon"
print(nombre [0])
print(nombre[-1])
#slicing
print(nombre[2: 5: 1])
print (nombre [0: 8: 1])

#Slicing con indexado negativo (-)
print (nombre [-6 : 0 : 1])
print (nombre [7 :  : -1])

F
n
cul
Facultad

datlucaF

#String como objeto
el ti´po de dato string es una clase  por lo tanto tiene atributoks y metodos
#Ayuda en linea de python
hay dos funciones que te dan ayuda
dir()
help()

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
apellidos = "garcia perez"
print(apellidos.capitalize())
print(apellidos.title())
print(apellidos.find('a'))
print("LOPEZ PEREZ".lower())
print(apellidos.upper())


numeros= "1     ,    2    ,    3     ,4,5,6"     
num_divididos= numeros.strip().split(',')
print(num_divididos)

#num_divididos[0]=num_divididos[0].strip()
#num_divididos[1]=num_divididos[1].strip()
#num_divididos[2]=num_divididos[2].strip()
#num_divididos[3]=num_divididos[3].strip()
#num_divididos[4]=num_divididos[4].strip()
#num_divididos[5]=num_divididos[5].strip()
print(num_divididos)

for elem in num_divididos:
  print(elem)

  for index in range(6):
    num_divididos[index] = num_divididos[index].strip()
    print(num_divididos)

Garcia perez
Garcia Perez
1
lopez perez
GARCIA PEREZ
['1     ', '    2    ', '    3     ', '4', '5', '6']
['1     ', '    2    ', '    3     ', '4', '5', '6']
1
['1', '    2    ', '    3     ', '4', '5', '6']
['1', '2', '    3     ', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
2
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
3
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
4
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
5
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
6
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6']

#Estructuras de control
#for
#if
#if else
#switch-case
#for while
#while y do while

In [ ]:
#if
a=2
b=3
c=4
print(a>b)

if a > b :
  print("Estamos en el if")
  print("A es mayor que B")
print("Fin del programa")

#######
if c>a:
  if c>b:
    print("C es el mayor de los 3")

if c>a and c>b:
  print("C es el mayor de los 3")

###If else cual de las 3 variables es la mayor
if a>b:
  if a>c:
    print("a es la mayor")
  else:
      print("c es la mayor")

else:
  
  if b>c:
    print("b es la mayor")
  else:
      print("c es la mayor")

#Pedir al usuario un numero entre 1 y 7, imprimir el dia de la semana
opcion = int (input("Introduce un numero entre 1 y 7"))

if opcion>0 and opcion<8:
  if opcion ==1:
    print("Lunes")
  elif opcion==2:
    print("Martes")
  elif opcion==3:
    print("Miercoles")
  elif opcion==4:
    print("Jueves")
  elif opcion==5:
    print("Viernes")
  elif opcion==6:
    print("Sabado")
  elif opcion==7:
    print("Domingo")
else:
  print("ERROR ERROR!!!")

False
Fin del programa
C es el mayor de los 3
C es el mayor de los 3
c es la mayor
Introduce un numero entre 1 y 78
ERROR ERROR!!!

In [ ]:
# FOR y range

## range() es una funcion que te proporciona un enumerado

algo = range(4,10,2)
frutas = ['Pera' , 'Manzana' , 'Aguacate' , 'Kiwi' , 'Platano']
nombre = "Santiago"

print(algo)

for x in algo: #for(int x=4 ; x<10 ; x=x+2 )
    print(x)

for index in range(0,5,1):
    print(frutas[index])

# FOR e iteradores (For-each)

for fruit in frutas:
    print( fruit )

for letra in nombre:
    print(letra.upper())

range(4, 10, 2)
4
6
8
Pera
Manzana
Aguacate
Kiwi
Platano
Pera
Manzana
Aguacate
Kiwi
Platano
S
A
N
T
I
A
G
O

funciones

In [ ]:
#while

control=1

while control<=10:
  print(control)
  control +=1

1
2
3
4
5
6
7
8
9
10

#Funciones
es un segmento de codigo que recibe 0 o más valores de entrada
relaliza una o un conjunto 
de operaciones de forma interna y regresa un solo tipo 
de dato aunque ese valor sea none (void)

In [ ]:
#funcion suma

def suma(a,b):
  c = 0
  c= a+b
  return c

print(suma(4 , 5))


#Funcion que salude Personas
def saludar (nombre):
    print(f" Hola {nombre}, ¿Como estas?")
    return None
saludar("Jesus")
nombre="Santiago"
saludar (nombre)

res=saludar(nombre)
print(res)

9
 Hola Jesus, ¿Como estas?
 Hola Santiago, ¿Como estas?
 Hola Santiago, ¿Como estas?
None

#default y funciones
hay ocasiones en que es necesario
declarar valores por defecto 
en los argumentos de una funcion

In [ ]:
def saludar(nombre , veces=5 ):
  for x in range (veces):
    print(f"{x}.- Hola {nombre}")
saludar ("Juan" , 3)

#argumentos con llamadas no posicionales

saludar (veces=6 , nombre="Juan" )

0.- Hola Juan
1.- Hola Juan
2.- Hola Juan
0.- Hola Juan
1.- Hola Juan
2.- Hola Juan
3.- Hola Juan
4.- Hola Juan
5.- Hola Juan

#Listas
son estruturas de datos declaradas en python,
funcionan como los arreglos en java y c,
con algunas diferencias.
* Usan el selector [ ]
* Estructura secuendcial (0...n)
* Son mutables
* Puede contener valores de diferente tipo:
[1 ," Manzana" , True , 1.23 ] 
* Pueden ser anidados
(Multidimensional)
se crean usando [] y list()

In [ ]:
frutas = ["pera", "lima", "limon", "kiwi", "manzana"]
print (frutas)
print(frutas[1])
frutas[1]= "Mango"
print(frutas)
persona = ["Jose",1.78, 19, False, 70.5 , "ICO"]
print(persona)
print(persona[-1])

numeros = [2,4,6,8,10,12,14,16,18,20]
print(numeros[4:7])

['pera', 'lima', 'limon', 'kiwi', 'manzana']
lima
['pera', 'Mango', 'limon', 'kiwi', 'manzana']
['Jose', 1.78, 19, False, 70.5, 'ICO']
ICO
[10, 12, 14]

In [ ]:
#Listas Multidimensionales
bds = ["mysql" ,  "oracle" , "BD2" , "Mongo" , "SQLite" ]
leng_prog = ["C" , "JAVA" , "JS" , "C++" , "C#" , "PYTHON"]
tecnologias = [bds , leng_prog]
print(tecnologias)


"""
'''[['mysql', 'Oracle', 'BD2', 'Mongo', 'SQLite'], 
['C', 'Java', 'JS', 'C++', 'C#', 'Python']]'''

"""

print(tecnologias[1][3])
print(tecnologias[0][4])
print(tecnologias[1][2:5])

[['mysql', 'oracle', 'BD2', 'Mongo', 'SQLite'], ['C', 'JAVA', 'JS', 'C++', 'C#', 'PYTHON']]
C++
SQLite
['JS', 'C++', 'C#']

#La clase list 
el tipo de dato list es en realidad
una clase que tiene métodos

In [ ]:
numeros = [100,23,45,23,55,1,22,101,99,10,13]
type( numeros )
dir( numeros )
print(numeros.sort())
print(numeros)
numeros.reverse()
print(numeros)
#Eliminar elementos de un arreglo 2 formas:
#forma 1
#Utilizando remove
numeros.remove(55)
print(numeros)
#forma 2 es utilizando del
del numeros[3]
print(numeros)

#append agrega elementos al final

numeros.append(0)
numeros.append(33)
numeros.sort()
numeros.reverse()
print(numeros)
numeros.insert(3 , 60)
print(numeros)
n = numeros.pop()
print(n)
print(numeros)
n = numeros.pop(1)
print(n)
print(numeros)

mas_numeros = [400,500,600,700]
numeros.extend(mas_numeros)
print(numeros)
#numeros.clear()
print(numeros)
# Listas y la estructura de control for

for num in numeros:
  print(f"__>{num}<__")

None
[1, 10, 13, 22, 23, 23, 45, 55, 99, 100, 101]
[101, 100, 99, 55, 45, 23, 23, 22, 13, 10, 1]
[101, 100, 99, 45, 23, 23, 22, 13, 10, 1]
[101, 100, 99, 23, 23, 22, 13, 10, 1]
[101, 100, 99, 33, 23, 23, 22, 13, 10, 1, 0]
[101, 100, 99, 60, 33, 23, 23, 22, 13, 10, 1, 0]
0
[101, 100, 99, 60, 33, 23, 23, 22, 13, 10, 1]
100
[101, 99, 60, 33, 23, 23, 22, 13, 10, 1]
[101, 99, 60, 33, 23, 23, 22, 13, 10, 1, 400, 500, 600, 700]
[101, 99, 60, 33, 23, 23, 22, 13, 10, 1, 400, 500, 600, 700]
__>101<__
__>99<__
__>60<__
__>33<__
__>23<__
__>23<__
__>22<__
__>13<__
__>10<__
__>1<__
__>400<__
__>500<__
__>600<__
__>700<__

#Diccionarios
* Estructura no lineal
* Formada por pares de llave-valor
{"key":valor}
Donde valor puede ser cualquier tipo:
int, float, string etc

In [ ]:
persona = {"nombre": "Jose", "edad": 19, "estatura":1.7}
print(persona)
print(f"La estatura es: {persona ['estatura']} metros")

estudiante = {
"nombre" : { "nombres" : ["Juan", "Jose"] ,
"paterno" : "Pérez" ,
"materno" : " Garcia"
} ,
"edad" : 19 ,
"estatura" : 1.7,
"carrera" : {
"escuala" : "UNAM FES Aragón",
"Carrera" : "ICO",
"semestre" : 2
},
"direccion" : {
"calle" : "Colorines",
"num_exterior" : 34,
"interior" : "apartmento B"
},
"telefonos" : {
"casa" : 556463663,
"calular" : ["+5255767664" , "+52557373773"]
}

}
print(estudiante)

{'nombre': 'Jose', 'edad': 19, 'estatura': 1.7}
La estatura es: 1.7 metros
{'nombre': {'nombres': ['Juan', 'Jose'], 'paterno': 'Pérez', 'materno': ' Garcia'}, 'edad': 19, 'estatura': 1.7, 'carrera': {'escuala': 'UNAM FES Aragón', 'Carrera': 'ICO', 'semestre': 2}, 'direccion': {'calle': 'Colorines', 'num_exterior': 34, 'interior': 'apartmento B'}, 'telefonos': {'casa': 556463663, 'calular': ['+5255767664', '+52557373773']}}